.header {
  .container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . .";
    padding: 15px 60px;
    align-items: center;
  }
  &_tel,
  &_email,
  &_address {
    color: $gray;
    padding-left: 60px;
    height: 40px;
    span {
      font-size: 12px;
      display: block;
    }
  }
  &_address {
    background: url(../img/icon_map.png) no-repeat;
  }
  &_tel {
    background: url(../img/icon_tel.png) no-repeat;
  }

  &_email {
    background: url(../img/icon_mail.png) no-repeat;
  }
  &_nav {
    width: 100%;
    ul {
      width: 100%;
      justify-content: space-between;
      display: flex;
      height: 50px;
      background: $blue;
      align-items: center;
      color: #fff;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        transition: all 0.2s ease;
        &.active {
          background: $red;
        }
        &:hover {
          background: darken($blue, 2);
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &_pagetitle {
    height: 200px;
    background: url(../img/bg-header.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    // justify-content: center;
    font-size: 32px;
    padding-left: 100px;
    text-transform: uppercase;
  }
}
