.header {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    grid-template-areas: ". . . .";
    padding: 15px 40px;
    align-items: center;
    font-size: 1.2vw;
    @media screen and (max-width: 780px) {
      font-size: 13px;
      padding: 15px 20px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 14px;
    }

  }
  &_address {
    background: url(../img/icon_map.png) no-repeat;
  }
  &_tel {
    background: url(../img/icon_tel.png) no-repeat;
  }

  &_email {
    background: url(../img/icon_mail.png) no-repeat;
  }
  &_tel,
  &_email,
  &_address {
    color: $gray;
    padding-left: 5vw;
    height: 40px;
    background-size: contain;
    @media screen and (max-width: 1100px) {
      background-size:3.5vw;

    }
    @media screen and (max-width: 780px) {
      display: none;
    }
    span {
      font-size: 12px;
      display: block;
    }
   
  }

  &_nav {
    width: 100%;
    ul {
      width: 100%;
      justify-content: space-between;
      display: flex;
      height: 50px;
      background: $blue;
      align-items: center;
      color: #fff;
      list-style: none;
      @media screen and (max-width: 780px) {
        display: none;
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        transition: all 0.2s ease;
        &.active {
          background: $red;
        }
        &:hover {
          background: darken($blue, 2);
        }
        a {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &_pagetitle {
    height: 200px;
    background: url(../img/bg-header.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 32px;
    padding-left: 100px;
    text-transform: uppercase;
    @media screen and (max-width: 780px) {
      height: 100px;
      font-size: 20px;
      padding-left: 20px;
    }
  }
}
