@@include("../views/layouts/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <div class="main">
        <section class="sideleft">
            @@include("../blocks/modules/sideleft/sideleft.html")
        </section>

        <section class="content">
            <h1>404 </h1>

            @@include("../blocks/modules/footer/footer.html")
        </section>
    </div>


    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>



</body>

</html>