@@include("../views/layouts/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <div class="main">
        <section class="sideleft">
            @@include("../blocks/modules/sideleft/sideleft.html")
        </section>

        <section class="content">
            <div class="breadcrumbs">
                <a href="">Главная</a> - <a href="">хлебные крошки</a> - <span>Посещаемый уровень</span>
            </div>

            <h1>производственная компания бора</h1>
            <div class="text_block">

                <p>Наша компания предлагает своим клиентам высокоточное оборудование для производства автоматических
                    линий
                    холодной штамповки как собственного, так и китайского производства по весьма демократичным ценам.
                </p>
                <p>ТД Бора – отечественный производитель оборудования для обработки тонколистового металла начавший свою
                    деятельность в 2001 году.</p>

                <p>Благодаря наличию собственного производства и высококвалифицированного инженерного состава, компания
                    постоянно выпускает и модернизирует оборудование, отвечающее всем современным требованиям.</p>
                <p> Более тысячи единиц оборудования выпущено компанией за время работы.</p>

                <p>Огромный опыт разработки и автоматизации линий по холодной штамповке/резке/гибки/профилирования.</p>


            </div>
            @@include("../blocks/modules/footer/footer.html")
        </section>
    </div>


    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>



</body>

</html>