@@include("../views/layouts/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <div class="main">
        <section class="sideleft">
            @@include("../blocks/modules/sideleft/sideleft.html")
        </section>

        <section class="content">
            <div class="breadcrumbs">
                <a href="">Главная</a> - <a href="">хлебные крошки</a> - <span>Посещаемый уровень</span>
            </div>

            <h1>Механические прессы</h1>
           

            <section class="catalog_row">
                <div class="catalog_item">
                   <div class="img">
                        <img src="img/2.jpg" alt="">
                        <div class="description"> <a href="product.html">
                                Размотчик RS-1.5
                            </a> 
                        </div>
                   </div> 
                   <div class="txt">
                    <div class="title">Серия RS-1.5</div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia facilis quod repellat laudantium labore et accusantium aut ea molestias quibusdam, aliquid eos modi architecto nostrum illo magni minus dignissimos commodi.</p>
                    <a href="product.html" class="link_more btn _right">Подробнее</a>   
                    </div>
                </div>
              
                <div class="catalog_item">
                    <div class="img">
                         <img src="img/2.jpg" alt="">
                         <div class="description"> <a href="">
                                 Размотчик RS-1.5
                             </a> 
                         </div>
                    </div> 
                    <div class="txt">
                     <div class="title">Серия RS-1.5</div>
                     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia facilis quod repellat laudantium labore et accusantium aut ea molestias quibusdam, aliquid eos modi architecto nostrum illo magni minus dignissimos commodi.</p>
                     <a href="" class="link_more btn _right">Подробнее</a>   
                     </div>
                 </div>
            </section>

       


            @@include("../blocks/modules/footer/footer.html")
        </section>
    </div>


    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>



</body>

</html>