@@include("../views/layouts/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <div class="main">
        <section class="sideleft">
            @@include("../blocks/modules/sideleft/sideleft.html")
        </section>

        <section class="content">
            <div class="breadcrumbs">
                <a href="">Главная</a> - <a href="">хлебные крошки</a> - <span>Посещаемый уровень</span>
            </div>

            <h1>Разматыватели рулонного металла</h1>
            <div class="text_block">

                <p>ТД Бора – отечественный производитель оборудования для обработки тонколистового металла начавший свою
                    деятельность в 2001 году.
                    Благодаря наличию собственного производства и высококвалифицированного инженерного состава, компания
                    постоянно выпускает и модернизирует оборудование, отвечающее всем современным требованиям.
                    Более тысячи единиц оборудования выпущено компанией за время работы.
                    Огромный опыт разработки и автоматизации линий по холодной штамповке/резке/гибки/профилирования.</p>


            </div>

            <section class="catalog_list _cols_2">
                <div class="catalog_item">
                    <img src="img/2.jpg" alt="">
                    <div class="description"> <a href="">
                            Размотчик RS-1.5
                        </a> </div>
                </div>
                <div class="catalog_item">
                    <img src="img/2.jpg" alt="">
                    <div class="description"><a href="">
                            Размотчик RS-3.0
                        </a></div>
                </div>

            </section>

            <table class="">
                <thead>
                    <tr>
                        <td></td>
                        <th> RS-1.5</th>
                        <th> RS-1.5</th>
                        <th> RS-1.5</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>Тип</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Разжим ламп</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>




            @@include("../blocks/modules/footer/footer.html")
        </section>
    </div>


    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>



</body>

</html>