@@include("../views/layouts/head.html")

<body>
    @@include("../blocks/modules/header/header.html")

    <div class="main">
        <section class="sideleft">
            @@include("../blocks/modules/sideleft/sideleft.html")
        </section>

        <section class="content">
            <div class="breadcrumbs">
                <a href="">Главная</a> - <a href="">хлебные крошки</a> - <span>Посещаемый уровень</span>
            </div>

            <h1>Новости компании бора</h1>

            <div class="news_list">
                <div class="news_item">

                    <div class="date">01.02.2022</div>

                    <div class="title">Линия продольного раскроя рулонного металла «К-2Пр»</div>

                    <div class="introtext">Новая разработка - автоматизированная линия продольной резки рулонного
                        металла на ленты заданной ширины. </div>
                    <a href="" class="link">Подробнее</a>


                </div>
                <div class="news_item">

                    <div class="date">01.02.2022</div>

                    <div class="title">Линия продольного раскроя рулонного металла «К-2Пр»</div>

                    <div class="introtext">Новая разработка - автоматизированная линия продольной резки рулонного
                        металла на ленты заданной ширины. </div>
                    <a href="" class="link">Подробнее</a>


                </div>
            </div>


            @@include("../blocks/modules/footer/footer.html")
        </section>
    </div>


    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>



</body>

</html>