.main {
  display: flex;
  flex: 1 0 auto;
  @media screen and (max-width: 780px) {
    flex-direction: column;
  }
}

.content {
  padding-left: 30px;
  padding-top: 16px;
  flex-grow: 1;
  @media screen and (max-width: 780px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.breadcrumbs {
  font-size: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c0c0c6;
  color: $blue;
  margin-bottom: 45px;
  a {
    color: $gray;
  }
}

.catalog {
  &_list {
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-right: 30px;
    @media screen and (max-width: 780px) {
      display: block;
      margin-right: 0;
    }
    &._cols_2 {
      grid-template-columns: 1fr 1fr;
      align-items: start;
      justify-items: center;
    }
  }
  &_item {
    position: relative;
    height: 250px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    @media screen and (max-width: 780px) {
      margin-bottom: 20px;
    }

    .description {
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 20px 10px;
      background: rgba(#fff, 0.7);
    }
    img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 250px;
    }
  }
}

.about {
  background: $light;
  margin-bottom: 40px;
  margin-top: 50px;

  .text_block {
    padding: 30px 50px 90px 50px;
    @media screen and (max-width: 780px) {
      padding: 30px 30px 50px;
    }
  }
}
.advantages {
  background: $blue;
  color: #fff;
  padding: 20px 50px;
  &_title {
    text-align: center;
    margin-bottom: 30px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    div {
      width: 33%;
      margin-bottom: 10px;
      text-align: center;
      @media screen and (max-width: 780px) {
        width: 100%;
      }
    }
  }
}

.text_block {
  max-width: 1100px;
  margin-bottom: 40px;
  p {
    margin-bottom: 20px;
  }
}
