.main {
  display: flex;
  flex: 1 0 auto;
}

.sideleft {
  width: 20%;
  background: $dark;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  ul {
    list-style: none;
    list-style: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
        padding: 15px;
        display: block;
        width: 100%;
      }
      &:hover {
        background: #4c4c57;
      }
    }
  }
}
.content {
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 40px;
  flex-grow: 1;
}

.breadcrumbs {
  font-size: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c0c0c6;
  color: $blue;
  margin-bottom: 45px;
  a {
    color: $gray;
  }
}

.about {
  background: $light;
  margin-bottom: 40px;

  .text_block {
    padding: 50px;
  }
}
.advantages {
  background: $blue;
  color: #fff;
  padding: 20px 50px;
}
