table {
  text-decoration: none;
  border-collapse: collapse;
  width: calc(100% - 30px);
  max-width: 1100px;
  margin-bottom: 50px;
  padding-top: 50px;
}
thead th {
  text-align: center;
}
table th {
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  background-color: $blue;
}
table td {
  font-size: 13px;
}
table td,
table th {
  white-space: pre-wrap;
  padding: 10px 15px;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid $blue;
}
table tr:hover {
  background-color: #e7ebee;
}
table tr:hover td {
  color: #354251;
  cursor: default;
}
