.footer {
  background: $blue;
  color: #fff;
  flex: 0 0 auto;
  margin-top: auto;
  padding-bottom: 30px;
  margin-left: -30px;
  font-size: 1.2vw;
  @media screen and (max-width: 780px) {
    margin-right: -20px;
    margin-left: -20px;
    font-size: 13px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 14px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . .";
    padding: 15px 40px;
  
    @media screen and (max-width: 780px) {
      display: block;
      padding: 20px;
    }
  }
  &_catalog,
  &_nav {
    ul {
      list-style: none;
      li {
        margin-bottom: 5px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          color: darken(#fff, 15);
        }
      }
    }
  }
  &_address,
  &_time {
    margin-bottom: 20px;
  }
  &_phone {
    font-size: 17px;
  }
  &_logo {
    margin-bottom: 30px;
  }
  &_social {
    margin-top: 20px;
  }
}
.feedback {
  background: $light;
  margin-bottom: 50px;
  color: black;
  padding: 50px 0px;
  .container {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    @media screen and (max-width: 780px) {
      display: flex;
      flex-direction: column-reverse;
      padding: 20px;
    }
  }
  .message {
    color: $red;
    font-size: 12px;
  }
  h3 {
    font-weight: normal;
    color: $blue;
    text-transform: uppercase;
  }
  form {
    display: grid;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    @media screen and (max-width: 780px) {
      width: 100%;
    }
    input[type="text"] {
      border: none;
      background: #fff;
      height: 30px;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 0;
    }
    textarea {
      border: none;
      background: #fff;
      border-radius: 0;
      height: 100px;
    }
    .btn {
      flex-grow: 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      justify-self: flex-end;
      margin-top: 20px;
    }
  }
}
