.sideleft {
  width: 20%;
  min-width: 200px;
  background: $dark;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
.open_nav {
  @media screen and (max-width: 680px) {
  display: none;
  color: #fff;
  }
  &_link {
    display: inline-block;
    background: transparent;
    border: none;
    font: inherit;
    color: inherit;
    padding-right: 20px;
    padding-left: 0;
    background: url(../img/arrow-down.png) no-repeat 100% 50%;
    @media screen and (min-width: 680px) {
      display: none;
    }
  }

}

  ul {
    list-style: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
        padding: 15px;
        display: block;
        &:hover {
          background: #4c4c57;
        }
        @media screen and (max-width: 680px) {padding: 10px 0;}
      }
      ul.submenu {
        transition: all 0.3s ease;
        height: 0;
        opacity: 0;
        li {
          display: none;
        }
      }
      &:hover {
        ul.submenu {
          height: auto;
          opacity: 1;
          li {
            text-align: right;
            display: block;
          }
          a {
            text-decoration: underline;
            &:hover {
              background: transparent;
              text-decoration: none;
            }
          }
        }
      }
      &.have_submenu {
        background: url(../img/arrow.png) no-repeat 100% 20px;
        &:hover {
          background: url(../img/arrow-down.png) no-repeat 100% 20px;
          a:hover {
            background: transparent;
          }
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    width: auto;
    padding: 10px 20px;
    .open_nav {
      display: block;
      ul {
        display: none;
      }
      &.active {
        ul {
        
        display: block;
        }
      }
    }
  }
}
