html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  color: $main-color;
}
header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

a {
  color: $blue;
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 3.5vw;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $blue;
  @media screen and (max-width: 780px) {
    font-size: 1.5em;
    text-align: left;
  }
}

.t_c {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.btn {
  background: $red url(../img/arrow.png) 95% 50% no-repeat;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken($red, 5);
  }
}

._right {
  float: right;
  @media screen and (max-width: 780px) {
    float: none;
  }
}
