html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
}
header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 35px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $blue;
}

.t_c {
  text-align: center;
}

.btn {
  background: $red;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}